body {
  font-family: 'Alata', sans-serif;
  text-align: center;
  color: white;
  margin: 40px 0 40px 0;
}

h1 {
  font-size: 2.4rem;
}

p {
  font-size: 1.5rem;
}

.box {
  background-color: black;
  padding: 2%;
  margin: 4% 10% 4% 10%;
}

.dox {
  background-color: yellow;
  padding: 2%;
  margin: 4% 10% 4% 10%;
}
